<div class="row">
  <h1 class="team-heading">
    <%= @team.name %>
  </h1>
</div>

<div class="row">
  <div class ="small-8 columns">
    <h3>
      Member Performance
    </h3>
    <br>
    <% @team.users.each do |user| %>
      <p>
        <%= user.first_name %> <%= user.points %>
      </p>
      <br>
    <% end %>
  </div>
  <div class="small-4 columns">
    <h3>
      Benchmarks
    </h3>
  </div>
</div>


