<!-- <div class="row video">
  <iframe width="854" height="480" src="http://www.youtube.com/embed/zdXWgOwuDTI?autoplay=0;vq=hd720;rel=0;showinfo=0;controls=1;modestbranding=1;" frameborder="0" allowfullscreen></iframe>
</div>
 --><div class="row video-text">
  <h2>
    See why you should sign up!
  </h2>
</div>
