/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: url('https://s3.amazonaws.com/breakable_toy-production/images/background/subtle_white_feathers.png');
}

.captain-picture {
  max-width: 100%;
}
.team-cell {
  min-height: 12em;
  padding: 5px;
  margin: 2%;
  border-radius: 5px;
  border: 2px solid;
  text-align: center;
}

.captain-box {
}
