.alert-box {
  text-align: center;
}

.team {
  background-color: #7FB2F0;
  padding: 1%;
  text-align: center;
  border-radius: 5px;
}

.row.team {
  margin-bottom: 3%;
}

.captain-picture {
  max-height: 100px;
}

.team-profile {
  border-right:thick double #DDD;
}
h1 {
  font-size: 4em;
  text-align: center;
 }
