.alert-box {
  text-align: center;
}

.team {
  background-color: #7FB2F0;
  padding: 1%;
  text-align: center;
}

.row.team {
  margin-bottom: 3%;
}

.captain-picture {
  max-height: 10em;
  border: 2px solid #16193B;

}

.profile-picture {
  max-height: 10em;
  border-radius: 2px;
  border: 5px solid #16193B;
}

.team-profile {
  border-left:thick double #DDD;
}
h1 {
  text-align: center;
 }

#profile-subheading {
  text-align: center;
}

.row.profile-head {
  margin: 2em;
}
.row.profile-activity{
  margin: 2em;
}
.row.profile-accomplishment {
  margin: 2em;
}
.button.wide {
  width: 100%;
}
.button.small.right.remove-activity {
  background-color: red;
}
