<h1>Activities:</h1><br>
<% @activities.each do |activity| %>
  <p>

    <% unless @user.has_activity?(activity) %>
      If you add
      <%= activity.name %>
      you could earn X points per hour!
      <%= link_to "Add #{activity.name}", new_user_activity_path(activity_id: activity.id), class: "button small right" %>
    <% else %>
      You already participate in <%= activity.name %>
    <% end %>
  </p>
  <br>
<% end %>
